node_modules
**.sass-cache
*.css.map
.DS_Store
._.DS_Store

MCFC_h5_webpack

npm-debug.log

sftp-config.json
*.sublime-project
*.sublime-workspace
*.code-workspace
package-lock.json

private_config/

dest/deploy/*

build